# OrcaSlicer temp/cache files
cache/
logs/
*backup*
*.tmp
*.lock
user.config

# Ignore bundled Orca system library files, but keep custom/user presets
OrcaSlicer/system/OrcaFilamentLibrary/
OrcaSlicer/system/OrcaFilamentLibrary.json

# Ignore compiled, system, or OS files
.DS_Store
Thumbs.db
